/**
 * Background helpers
 */
.bg-gray-lighter {
  background: $gray-lighter;
}
.bg-white {
  background: $white;
}
.bg-mine-shaft{
  background: $mine-shaft;
  h1, h2, h3, h4, h5, p, abbr, cite, li, .link.link-shade, .link.link-shade:hover{
    color: $white;
  }
}
.bg-black{
  background: $black;
  color: $white;
}

/**
 * Bordered helpers
 */
.bordered{
  border:3px solid transparent;
  &.bordered-white{
    border-color: $white;
  }
}

/**
 * Block helpers
 */
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.padded-block{
  margin: 1em;
  display: table; // old timer hack
}


/**
 * Spacers
 */
.spacer {
  height: $padding-large-horizontal * 3;
  &.spacer-xl {height: $padding-large-horizontal * 5;}
  &.spacer-lg {height: $padding-large-horizontal * 4;}
  &.spacer-md {height: $padding-large-horizontal * 2;}
  &.spacer-sm {height: $padding-large-horizontal;}
  &.spacer-xs {height: $padding-large-horizontal / 2;}
  &.spacer-xxs {height: $padding-large-horizontal / 3;}
  @media only screen and (max-width: $screen-sm-max) {
    height: $padding-large-horizontal * 1.5;
    &.spacer-xl {height: $padding-large-horizontal * 3;}
    &.spacer-lg {height: $padding-large-horizontal * 2;}
    &.spacer-md {height: $padding-large-horizontal;}
    &.spacer-sm {height: $padding-large-horizontal / 2;}
    &.spacer-xs {height: $padding-large-horizontal / 3;}
  }
}
