/**
 * Colors
 */

// Primary
// $brand-primary: #b0c38f;
// $brand-primary-light: #46e87a;
//$brand-primary-dark: darken($brand-primary, 20%);
$nevada: #6f7072;
$oslo-gray: #9b9d9e;
$seashell: #f2f2f2;

// Practical
$black: #000;
$white: #fff;
$silver-sand: #cdcece;
$mine-shaft: #323232;

// Social
$facebook: #3b5998;
$twitter: #55acee;

/**
 * Fonts
 */

$font-size-base-small: 18px;
$headings-baseline: 0.7;
$margin-top-h1: 15px;
$margin-bottom-h1: 20px;

$icon-font-path:  "../fonts/bootstrap/";



@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);
