@charset "UTF-8";

// init:
@import 'main-variables';
@import 'bootstrap';

@import 'overrides';

@import 'home';
@import 'filter';
@import 'footer';

@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import 'typography';
@import 'helpers';

body{
  //background: linear-gradient(to bottom, #ffffff 0%,#fff2ed 100%);
}

// WTF \00a0 see https://github.com/twbs/bootstrap-sass/issues/919
.breadcrumb > li + li:before{
  content: '/';
}
